.wrapper {
    span {
        margin-left: 8px;
        height: 20px;
        border-radius: var(--root-radius);
        padding: 2px 8px;
        font-size: 12px;
        font-weight: 500;
    }
}

.active {
    background-color: #affebf;
    color: #014b40;
}

.in_active {
    background-color: #d5ebff;
    color: #003a5a;
}
