.wrapper {
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    margin: 20px 0 10px 0;
}

.toast {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: var(--root-radius);
    transition: all 0.3s;
}

.error {
    background: -webkit-linear-gradient(to right, #f45c43, #eb3349);
    background: linear-gradient(to right, #f45c43, #eb3349);
    box-shadow: 0 0px 10px #de1c3280;
}

.success {
    background: linear-gradient(to right, rgb(13 168 36 / 77%), rgb(28 215 56 / 91%));
    box-shadow: 0 0px 10px rgb(67 223 24 / 69%);
}

.title {
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    height: 24px;
    line-height: 24px;
}

.icon {
    svg {
        display: flex;
        width: 24px;
        height: 24px;
    }

    margin-right: 8px;
    filter: drop-shadow(2px 1px 2px rgb(0 0 0 / 0.4));
}

.icon path {
    color: #fff;
}
