.grid_variant {
    margin: 0 -15px -15px -15px;
    color: #616161;
}

.box {
    cursor: pointer;
    display: grid;
    grid-template-columns: 38px repeat(7, 1fr);
    padding: 0 6px;
    border-bottom: var(--root-border-table);
    column-gap: 4px;
}

.header {
    height: 36px;
    padding: 0 6px;
    background-color: #ebebeb;

    div {
        display: flex;
        align-items: center;
    }
}

.body {
    padding: 6px;

    div {
        display: flex;
        align-items: center;
    }

    .description {
        display: block;
    }

    &:hover {
        background-color: #f7f7f7;
    }
    .image {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: var(--root-radius);
        border: 1px dashed #ebebeb;
        cursor: pointer;
        margin-right: 12px;

        img {
            width: 100%;
            height: 100%;
            border-radius: var(--root-radius);
        }

        svg {
            fill: #005bd3;
        }

        &:hover {
            border-color: #cccccc;
        }
    }
}

.pl_52 {
    padding-left: 52px;
}

.pl_32 {
    padding-left: 32px;
}

.img_60 {
    width: 60px;
    height: 60px;
}

.img_40 {
    width: 40px;
    height: 40px;
}

.col_span_1 {
    grid-column: span 1;
}

.col_span_2 {
    grid-column: span 2;
}

.col_span_3 {
    grid-column: span 3;
}

.col_span_4 {
    grid-column: span 4;
}

.col_span_5 {
    grid-column: span 5;
}
