.wrapper {
    border-radius: var(--root-radius);
    width: 100%;
    max-width: 100%;
    box-shadow: 0.0625rem 0rem 0rem 0rem rgba(0, 0, 0, 0.13) inset, -0.0625rem 0rem 0rem 0rem rgba(0, 0, 0, 0.13) inset,
        0rem -0.0625rem 0rem 0rem rgba(0, 0, 0, 0.17) inset, 0rem 0.0625rem 0rem 0rem rgba(204, 204, 204, 0.5) inset;
    background-color: #fff;
}

.wrapper_header {
    position: relative;
    min-height: 44px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.wrapper_button {
    padding: 8px;
}

.wrapper_action {
    width: 100%;
}

.checkbox {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid var(--children-color);
    transition: border ease-in 0.1s;

    svg {
        color: #fff;
    }

    &:active {
        border-width: 3px;
    }
}

.active {
    background-color: #000;
    color: #fff;
}

// Table

.box {
    position: relative;
    border-top: var(--root-border-table);
    border-left: var(--root-border-table);
    border-right: var(--root-border-table);
}

.table_wrapper {
    overflow-x: auto;
    width: 100%;
    position: relative;
    min-height: 300px;
}

.table {
    color: var(--table-color);
    padding: 0 1px;
    border-top: var(--root-border-table);
    width: 110%;
    border-collapse: collapse;
}

.table_head {
    background-color: #f7f7f7;
    height: 36px;
    tr {
        border-bottom: var(--root-border-table);
    }
    th {
        font-size: 12px;
        font-weight: 500;
        padding: 8px 12px;
        text-align: left;
        border: none;
        background-color: transparent;
        white-space: nowrap;
    }
}

.table_body {
    .no_rows {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 18px;
            text-align: center;
        }
    }

    tr {
        td {
            border-top: var(--root-border-table);
            font-size: 12px;
            font-weight: 500;
            padding: 8px 12px;
            text-align: left;
            white-space: nowrap;

            a:hover {
                text-decoration: underline;
            }

            &:nth-child(5) {
                color: #8e0b21;
            }
        }
    }
}

.table_body tr.checked {
    background-color: #f1f1f1;
}

.table_action {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 36px;
    background-color: #fff;
    padding: 12px;
}

.table_action_item {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

// Action Box

.box_action {
    min-width: 193px;
    background-color: #fff;
    box-shadow: var(--root-box-shadow);
    border-radius: var(--root-radius);
    padding: 6px 6px;
}

.paginate_wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
